{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="text-align:center;">About <span style="color:blue;">Us</span></h1>
    <div style="display:flex; margin-left:800px;"><div style="height:3px; width:10px; background:black;"></div><div style="height:3px; width:100px; background:blue; border-radius:2px;"></div></div>
    <p style="font-size:21px; text-align:center;">There are multiple reason to choose us for multiple reason.Believe me<br/> you will find us best suitable.</p>
<div class="row" style="margin-bottom:25px;">
<div class="col-sm-1"></div>
<div class="col-sm-10" style="background:white;">
    <h3 style="margin-left:30px;margin-top:15px;">Introduction</h3>
    <div style="background:purple;height:4px;width:140px;margin-left:30px;"></div>
<ul style="font-size:22px;width:1900px; margin:20px;">
    <li style="padding-top:13px;">Expert in carrying out the planning and management of the NGO programs.</li>
    <li style="padding-top:10px;">Excellent in designing and executing the campaign model for different initiatives keeping the overall principles of the NGO are not compromised.</li>
    <li style="padding-top:10px;">Proven track record of raising fund for the NGO even in tough times and successfully carrying out the activities.</li>
    <li style="padding-top:10px;">Organized and participated in various social awareness camps and ensured a great level of participation.</li>
    <li style="padding-top:10px;">Donor management both individuals as well a corporate organizations and providing them regular updates of the NGO activities.</li>
    <li style="padding-top:10px;padding-bottom:5px;">Excellent in communication and team working skills with ability to drive through challenges and work towards successful accomplishment of NGO objectives.</li>
</ul>
<h3 style="margin-left:30px;">Providing some <span style="color:blue;">special facilities</span></h3>
    <div style="background:purple;height:4px;width:250px;margin-left:30px;"></div>
<ul style="font-size:22px;width:1900px;margin:20px;">
    <li style="padding-top:13px;">Maintain the quality and hygiene. </li>
    <li style="padding-top:10px;">Get regular feedbacks and follow-ups.</li>
    <li style="padding-top:10px; padding-bottom:10px;">Serve special meal on special days</li>
</ul>
    <h4 style="margin-left:35px;margin-bottom:20px;">To know more about our foundation <a href="/user/contactus/" style="text-decoration:none;font-weight:bold;color:blue;">Contact</a> Us.</h4>
</div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}